<div class="section-banner"  style="background-image: url('<%= url_for(@item.photo) %>')"></div>

<div class="container">
 <h1><%= @item.name %></h1>
  <p><%= @item.description %></p>
  <p><%= @item.price %></p>

  <%# Problem 1: Créer un formulaire. On stock les données dans une session(???) pour pouvoir ajouter d'autres items et valider la commande dans la show de restaurant %>
  
</div>

